/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  background-color: white;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 768px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #141024;
    color: #141024;
}

section {
    background-color: #FFFFFF;
}
footer {
    padding: 0 10rem;
}

div.section-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 2rem 6rem;
    max-width: 1296px;
}

h1 {
    font-family: Catamaran-Black;
    text-transform: uppercase;
}
h2 {
    font-family: Catamaran-ExtraBold;
    font-size: 48px;
    line-height: 58px;
    color: #141024;
}
p {
    font-family: Cardo-Regular;
    font-size: 1.4rem;
    color: #141024;
}

.text-center {
    text-align: center;
}

.text-colored {
    color: #3F2B8F;
}

.background-colored {
    background-color: #141024;
}

.background-tinted {
    background-color: #F9F9F9;
}

.background-colored h2, .background-colored p {
    color: #FFFFFF;
}

.link-button {
    padding: 0.5rem 2rem;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #3F2B8F;
    border-radius: 2rem;
    text-decoration: none;
    font-family: Catamaran-Bold;
    font-size: 1.2rem;
}

.link-button-colored {
    font-size: 1.4rem;
    background: #3F2B8F;
    background: -webkit-linear-gradient(left, #3F2B8F , #592A92);
    background: -o-linear-gradient(right, #3F2B8F, #592A92);
    background: -moz-linear-gradient(right, #3F2B8F, #592A92);
    background: linear-gradient(to right, #3F2B8F , #592A92);
}

.section-container.header-block {
    width: 100%;
    background-color: #141024;
    padding-top: 48px;
}

.section-container.header-block .link-button {
    float: right;
}

.section-container.home-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    height: calc(100vh - 111px);
    min-height: 640px;
    color: #FFFFFF;
    background-color: #141024;
}

.section-container.home-block h1 {
    font-size: 5vw;
    line-height: 5vw;
}

.section-container.home-block p {
    padding-top: 2rem;
    padding-bottom: 4rem;
    font-size: 22px;
    width: 54%;
}

.home-img {
    position: absolute;
    margin-top: -1rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.home-img img {
    width: 55vw;
    max-width: 813px;
}

@media screen and (max-width: 768px) {
    .section-container.home-block h1 {
        font-size: 2.75rem;
        line-height: 2.7rem;
    }
    .home-img img {
        width: 420px;
    }
}

@media screen and (min-width: 1350px) {
    .home-img {
        right: calc(675px - 50vw);
    }
}

@media screen and (min-width: 1480px) {
    .home-img {
        right: -60px;
    }
}

@media screen and (min-width: 1296px) {
    .section-container.home-block h1 {
        font-size: 68px;
        line-height: 70px;
    }
}

.home-text {
    position: absolute;
    top: 6rem;
    width: 60%;
    z-index: 10;
}

.scroll-down-button {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #3F2B8F;
    background-color: transparent;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.scroll-down-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-container.features-block {
    padding-top: 160px;
    padding-bottom: 100px;
}

.section-container.features-block h2 {
    margin-bottom: 20px;
}

.slide-number-container {
    width: 54px;
    height: 54px;
    position: relative;
    border-radius: 54px;
    background: #3F2B8F;
    background: -webkit-linear-gradient(left, #3F2B8F , #592A92);
    background: -o-linear-gradient(right, #3F2B8F, #592A92);
    background: -moz-linear-gradient(right, #3F2B8F, #592A92);
    background: linear-gradient(to right, #3F2B8F , #592A92);
}

.slide-number-container span {
    color: #FFFFFF;
    font-family: Cardo-Bold;
    font-size: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slide-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10vw;
    height: 65vh;
    min-height: 500px;
}

.slide-content img {
    max-width: 100%;
    height: auto;
}

.slide-content h3 {
    text-align: left;
    font-size: 32px;
    margin: 30px 0 10px;
    text-transform: uppercase;
    font-family: Catamaran-Black;
}

.slide-content p {
    text-align: left;
    font-size: 19px;
    padding-top: 10px;
}

.slide-content .text-container {
    width: 350px;
}

.slide-content .img-container {
    margin-right: -5vw;
}

.slide-content .slide-text-divider {
    width: 60px;
    height: 4px;
    background-color: #3F2B8F;
    margin-left: -70px;
}

.section-container.stats-block {
    padding-top: 8rem;
    padding-bottom: 9rem;
    height: 110vh;
    min-height: 620px;
}

.stats-content-centered {
    position: relative;
    top: 50%;
    transform: translateY(-60%);
}

.stats-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}

.stats-card {
    padding: 34px 28px;
    width: 30%;
    min-height: 230px;
    background-color: #FFFFFF;
}

.stats-card p {
    color: #141024;
    margin-top: 2rem;
    text-align: left;
    font-size: 22px;
}

.stats-card .stats-number-container {
    width: 60px;
    height: 60px;
    overflow-x: visible;
    border-top: 4px solid #3F2B8F;
}

.stats-card .stats-number-container h3 {
    font-family: Catamaran-ExtraBold;
    font-size: 48px;
}

.section-container.customers-block {
    padding-top: 130px;
    padding-bottom: 75px;
}

.section-container.customers-block .link-button-colored {
    padding: 0.6rem 2rem;
    border-radius: 4rem;
    font-size: 24px;
}

.section-container.stats-block h2 {
    margin-bottom: 10rem;
}

.section-container.customers-block h2 {
    margin-bottom: 4rem;
}

section.brands-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: -webkit-flex;
    display: flex;
}

section.brands-container img {
    width: 25%;
    height: 25%;
}

footer {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}

.footer-container {
    position: relative;
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding: 54px 0;
    border-top: 1px solid #EEEEEE;
}

.footer-container small {
    font-family: Catamaran-Regular;
    font-size: 16px;
    color: #2C2F35;
}

.footer-container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}