/*! minireset.css v0.0.2 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

img,
embed,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html {
  background-color: white;
  font-size: 14px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 768px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
}

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block;
}

body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    background-color: #141024;
}

section {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    padding: 2rem 6rem;
    max-width: 1296px;
    background-color: #FFFFFF;
}
footer {
    padding: 0 6rem;
}

h1 {
    /*font-size: 4.5rem;*/
    text-transform: uppercase;
}
h2 {
    font-family: Catamaran-ExtraBold;
    font-size: 3rem;
    line-height: 3.8rem;
    color: #141024;
}
p {
    font-family: Cardo-Regular;
    font-size: 1.4rem;
    color: #141024;
}

.text-center {
    text-align: center;
}

.text-colored {
    color: #3F2B8F;
}

.background-colored {
    background-color: #141024;
}

.background-colored h2, .background-colored p {
    color: #FFFFFF;
}

.link-button {
    padding: 0.5rem 2rem;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #3F2B8F;
    border-radius: 2rem;
    text-decoration: none;
    font-family: Catamaran-Bold;
    font-size: 1.2rem;
}

.link-button-colored {
    background: #3F2B8F;
    background: -webkit-linear-gradient(left, #3F2B8F , #592A92);
    background: -o-linear-gradient(right, #3F2B8F, #592A92);
    background: -moz-linear-gradient(right, #3F2B8F, #592A92);
    background: linear-gradient(to right, #3F2B8F , #592A92);
}

.header-block {
    width: 100%;
    background-color: #141024;
}

.header-block .link-button {
    float: right;
}

section.home-block {
    position: relative;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    padding-bottom: 0;
    min-height: 60vw;
    color: #FFFFFF;
    background-color: #141024;
    border-bottom: 2px solid #FFFFFF;
}

section.home-block h1 {
    font-size: 5vw;
}

section.home-block p {
    padding-top: 2rem;
    padding-bottom: 4rem;
    width: 50%;
}

.home-img {
    position: absolute;
    margin-top: -1rem;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.home-img img {
    width: 55vw;
    max-width: 813px;
}

@media screen and (max-width: 768px) {
    section.home-block {
        min-height: 460px;
    }
    section.home-block h1 {
        font-size: 2.75rem;
    }
    .home-img img {
        width: 420px;
    }
}

@media screen and (min-width: 1296px) {
    section.home-block {
        min-height: 778px;
    }
    section.home-block h1 {
        font-size: 4.6rem;
    }
}

.home-text {
    position: absolute;
    top: 6rem;
    width: 60%;
    z-index: 10;
}

.scroll-down-button {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #3F2B8F;
    background-color: transparent;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}

.scroll-down-button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.slide-block {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
}

.JS-top {
    position: absolute;
    top: 0;
    bottom: auto;
}

.JS-middle {
    position: fixed;
    top: 0;
    bottom: auto;
}

.JS-bottom {
    position: absolute;
    top: auto;
    bottom: 0;
}

.slides-container {
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    max-width: 1296px;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.slide-number-container {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #3F2B8F;
}

.slide-number-container span {
    color: #FFFFFF;
    font-family: Cardo-Bold;
    font-size: 2.6rem;
}

.slides-container h2 {
    position: absolute;
    padding-top: 4rem;
    padding-bottom: 1rem;
    top: 0;
    width: 100%;
    background: #FFFFFF;
}

.slides-container img {
    width: 50vw;
    max-width: 475px;
}

@media screen and (max-width: 768px) {
    .slides-container {
        width: 750px;
        left: 0;
        transform: none;
    }
    .slides-container img {
        width: 385px;
    }
}

.navigation-dots {
    margin-left: 10%;
}

@media screen and (min-width:0\0) {
    .navigation-dots {
        position: absolute;
    }
}

@-moz-document url-prefix() {
    .navigation-dots {
        position: absolute;
    }
}

.dot {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: block;
    margin: 0 0 10px 0;
    border: 1px solid #3F2B8F;
}

.dot.active {
    background-color: #3F2B8F;
}

.scroll-toggle {
    width: 100%;
    height: 0;
    display: none;
}

.slide-scrollable {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 35%;
    margin-left: 18%;
}

.slide-scrollable .slide-content h3 {
    text-align: left;
    font-size: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    font-family: Catamaran-Black;
}

.slide-scrollable .slide-content p {
    text-align: left;
    font-size: 1.35rem;
}

.slide-scrollable .slide-content .slide-text-divider {
    width: 50px;
    height: 4px;
    background-color: #3F2B8F;
    margin-left: -60px;
}

section.stats-block {
    padding-top: 8rem;
    padding-bottom: 9rem;
}

.stats-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}

.stats-card {
    padding: 2rem;
    width: 30%;
    height: 230px;
    background-color: #FFFFFF;
}

.stats-card p {
    color: #141024;
    margin-top: 2rem;
    text-align: left;
}

.stats-card .stats-number-container {
    width: 60px;
    height: 60px;
    overflow-x: visible;
    border-top: 4px solid #3F2B8F;
}

.stats-card .stats-number-container h3 {
    font-family: Catamaran-ExtraBold;
    font-size: 3rem;
}

section.customers-block {
    padding-top: 8rem;
    padding-bottom: 2rem;
}

section.customers-block h2, section.stats-block h2 {
    margin-bottom: 4rem;
}

section.brands-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    display: -webkit-flex;
    display: flex;
}

section.brands-container img {
    width: 25%;
    height: 25%;
}

footer {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1296px;
    background-color: #FFFFFF;
}

.footer-container {
    position: relative;
    padding: 2rem 0;
    border-top: 1px solid #EEEEEE;
}

.footer-container img {
    position: absolute;
    bottom: 1.4rem;
    transform: translateX(-50%);
    left: 50%;
}